body {
    background-color: #5E0076;
    font-family: 'Darumadrop One', cursive;
}
header {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}
.card {
    font-size: 1.5rem;
    color: white;
    display: grid;
    justify-content: center;
    align-items: flex-end;
    min-width: 20rem;
    min-height: 30rem;
    background-color: #BF00EF;
    border-radius: 8%;
}
.container {
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
    background-color: rgba($color: #AE13D4, $alpha: 1.0);
    > button {
        background-color: transparent;
    }
    > ul {
    padding: 0 1rem;
    
    > li{
        padding: 1rem 0;
        list-style: none;
    }
}
}

a {
    color: white;
}
.item {
    background-color: #EFAEFF;
}
.filterbar {
    display: flex;
    list-style: none;
    font-size: 1rem;
    background-color: #711389;
    justify-content: space-evenly;
    min-height: 5rem;
}