{% extends "layout.njk" %}
{% block  content %}
<header>
    <h1>Seath Collection</h1>
</header>
<div class="cards">
    <div class="card">
        <a href="/manga">
            <h2>Figurines</h2>
        </a>
    </div>
    <div class="card">
        <a href="/manga">
            <h2>Manga</h2>
        </a>
    </div>
    <div class="card">
        <a href="/manga">
            <h2>Light Novels</h2>
        </a>
    </div>
</div>
<div class="bottom">
    <h2>Add New Item</h2>
</div>
{% endblock %}
