{% extends "layout.njk" %}
{% block  content %}
<header>
    <h1>Seath Collection</h1>
</header>
<div class="cards">
    <div class="card">
        <h2>Figurines</h2>
    </div>
    <div class="card">
        <h2>Manga</h2>
    </div>
    <div class="card">
        <h2>Light Novels</h2>
    </div>
</div>
{% endblock %}
