<div class="item">
    
    <img src="../images/{{row.Image}}" alt="">
    
    <div>
        <h1>{{row.MangaName}}</h1>
        <p>Author: {{row.Author}}</p>
        <p>Status: {{row.Status}}</p>
        <p></p>
        <p>Volumes Owned: {{row.Volumes}}</p>
    </div>
</div>